div.paragraph{
    padding-top: 50px;
    padding-bottom: 50px;
    border-style: solid;
    border-color: rgb(0, 0, 255);
    border-width: thin;
    border-radius: 50px 20px;
}

table{
    background-color: rgba(0, 0, 255, 0.3);
}