/* This CSS Page is created by Stephen Duan to style his personal 
web page, find more about it at https://s1duan.github.io/wi21-cse110-lab3/ */

*{
    font-family: "Yusei Magic", sans-serif;
}

div.paragraph{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-style: solid;
    border-color: rgb(0, 0, 255);
    border-width: thin;
    border-radius: 50px 20px;
}

header > div, figcaption{
    text-align: center;
}

.navigation{
    position: relative;
    background-color:#311;
    overflow: hidden;
}

.navigation a{
    float: left;
    color: floralwhite;
    text-align: center;
    padding: 15px 15px;
    font-size:20px;
}

.navigation a:hover{
    background-color: #ddd;
    color: hsl(0, 0%, 0%);
}

.navigation a:active{
    color: hsla(120, 100%, 75%, 0.3);
}

#resource_web{
    width: 100%;
    height: 250px;
}

.img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

table{
    background: rgba(0, 0, 255, 0.3);
}

table > caption{
    color:#0000ff;
    text-decoration: underline;
}

textarea{
    min-width: 50%;
}
