* {
    background-color: #c9d6ff;
}

div.paragraph{
    padding-left: 20px;
    padding-right: 20px;
    border-style: solid;
    border-color: rgb(0, 0, 255);
    border-width: thin;
    border-radius: 50px 20px;
}

header > div, figcaption{
    text-align: center;
}

#navigation{
    background-color: #333;
}

#navigation a{
    float: left;
    color: floralwhite;
    font-size:20px;
}

.img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

table{
    background-color: rgba(0, 0, 255, 0.3);
}

table > caption{
    color:blue;
    text-decoration: underline;
}


